/* Note : Changes you make here won't reflect real-time . so before you build theme make sure u excluded build and build_keycloak folder 
also make sure any docker images created should be deleted as well. 
*/


/* KcHtmlClass => reflect in HTML background */

.kc_html_class{
    background: #15263d;
    height: 100%;
}

/* KcLoginClass => reflect in entire KcApp background space */

.kc_login_class{
    background: #15263d;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* KcFormCardClass => reflect in entire login form background space */

.kc_formcard_class{
    background: #193254;
    padding:40px;
    border-radius: 20px;
    width:35%;
    color:whitesmoke;
    margin-top: 20px;
    margin-bottom: 10%;
    min-width: 500px;

    box-shadow: 5px 5px 14px -3px rgba(0,0,0,0.79);
-webkit-box-shadow: 5px 5px 14px -3px rgba(0,0,0,0.79);
-moz-box-shadow: 5px 5px 14px -3px rgba(0,0,0,0.79);
}
.kc_formcard_class > h1{
    text-align: center;
}

/* KcButtonPrimaryClass => reflect in sign-in button inside login form */

.kc_button_primary_class{
    border : 1px solid red;
    background : transparent;
    color:whitesmoke;
    border-radius:20px;
    cursor: pointer;
}
.kc_button_primary_class:hover{
    background : #1e3d69;
    color:whitesmoke;
    border : 1px solid darkred;
}

/* KcInputClass => reflect in enitre input tag inside login form */

.kc_input_class{
    border: none;
    border-bottom: 1px solid red;
    background-color: transparent;
    outline: none;
    display:block;
    font-size: 19px;
    width:100%;
    padding-left: 6px;
    margin-bottom: 30px;
}

/* KcFormHeaderClass => reflect in title inside form*/

.kc_form_header_class{
    text-align: center;
    margin-bottom: 20px;
}